@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Inter Tight', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(
    180deg,
    rgb(32, 44, 136) 0%,
    rgba(9, 9, 121, 1) 15%,
    rgba(0, 2, 18, 1) 100%
  );
  background-size: cover;
  background-position: center center;
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.1rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1.5em;
  font-size: 1.1rem;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #646cff;
  border-color: #535bf2;
  transform: translateY(-2px); /* Slight lift effect on hover */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  body {
    background: #f0f4f8;
  }

  h1 {
    color: #333;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
    color: #333;
  }
}

main {
  color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

table {
  width: 80vw;
  table-layout: fixed;
  margin-top: 2rem;
  border-collapse: collapse;
}

tr {
  border-radius: 10px;
  background-color: #000;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: #333333;
}

thead {
  background-color: #444;
  color: #fff;
}

th,
td {
  padding: 1rem;
  text-align: left;
}
